extends ../_layout/master 
block content
    h1 list
    table 
        tr 
            th 日期
            th 收盤價
        each stock in stockData
            tr 
                td #{stock.date}
                td #{stock.close_price}